<div class="container mt-3">
  <h2>Post Form</h2>
  <!-- <p>Click inside the input field to see the floating label effect:</p> -->
  <form [formGroup]="postForm" class="was-validated">

    <div class="mb-3 mt-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter name" name="name"  formControlName="name" required/>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    

    <div class="mb-3 mt-3">
      <label for="img" class="form-label">Image:</label>
      <input type="text" formControlName="img" class="form-control" id="img" placeholder="Enter img URL" name="img"  formControlName="img" required/>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    

    <div class="mb-3 mt-3">
      <label for="content" class="form-label">Content:</label>
      <textarea formControlName="content" class="form-control" id="content" placeholder="Enter content" name="content"  formControlName="content" required> </textarea>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    
    <div class="mb-3 mt-3">
      <label for="postedBy" class="form-label">Posted By:</label>
      <input type="text" formControlName="postedBy" class="form-control" id="postedBy" placeholder="Enter postedBy " name="postedBy"  formControlName="postedBy" required/>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
 
    <div class="mb-3 mt-3">
      <label for="tags" class="form-label">Tags:</label>
    
      <mat-chip-grid #chipGrid aria-label="Enter tags" class="form-control"  class="form-control">
        <mat-chip-row *ngFor="let tag of tags ; let i = index" (removed)="remove(tag)" class="btn-primary" >
          {{tag}}
          <button matChipRemove >
             <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input placeholder="New Tag..."
        [matChipInputFor]="chipGrid"
        (matChipInputTokenEnd)="add($event)"
        class="form-control">
      </mat-chip-grid>

      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid" (click)="createPost()" >Submit form </button>
  </form>
</div> 